<section class="moviedetail">
    <img class="moviedetail__img" src="{{affiche}}" alt="">
    <h1 class="moviedetail__title">{{titre}}</h1>
    <p class="moviedetail__desc">{{desc}}</p>
    <p class="moviedetail__info">Réalisateur : {{real}}</p>
    <p class="moviedetail__info">Date de sortie : {{année}}</p>
    <p class="moviedetail__info">Catégorie : {{caté}}</p>
    <p class="moviedetail__info">Age minimum : {{restri}} ans</p>
    <button class="moviedetail__btn" onclick="C.handlerAddFavorite('{{id}}')">
        Ajouter aux favoris
    </button>
    <iframe class="moviedetail__trailer" src="{{trailer}}" frameborder="0"></iframe>
</section>