.movie {
  padding: 1rem;
  font-family: var(--ff-sans); 
  background-color: var(--color-bg); 
  color: var(--color-fg);
}

.movie__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem;
  
  width: 100%; 
  height: 100%; 
  
  border: solid 1px var(--color-fg); 
  border-radius: 0.5rem;
  cursor: pointer;
  .card__img {
  width: 100%;
  aspect-ratio: 2 / 3; 
  object-fit: cover;
  border-radius: 0.5rem;
}
 .card__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
}
}


@media(min-width: 48rem) {
  .movie__list {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}